* {
	padding: 0;
	margin: 0;
}
@font-face {
	font-family: "Roboto-Regular";
	src: url("./Resource/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat-Medium";
	src: url("./Resource/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
